*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#game {
    width: 100%;
    height: 300px;
    background-image: url(./img/background.png);
    background-size: contain;
}

#dino {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(./img/dino.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: 200px;
    /* background-color: red; */
    z-index: 100;
}

.animate-jump {
    animation: jump 500ms infinite;

}

@keyframes jump {
    0%{
        top: 200px;
    }
    30%{
        top: 100px;
    }
    70%{
        top: 100px;
    }
    100%{
        top: 200px;
    }
}


#cactus {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(./img/cactus.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: 50%;
    position: relative;
    top: 200px;
}


.animate-cacTus {
    animation: cactus 1s infinite linear;
}

@keyframes cactus {
    0%{
        left: 50%;
    }
    100%{
        left: -50px;
    }
}

#play {
    border: 1px solid #000000;
    background-color: #fff;
    padding: 10px 20px;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%,-10%);
    display: inline-block;
    cursor: pointer;

}

#play:hover {
    background-color: #000000;
    color: #fff;
}

